<div class="d-flex justify-content-between">
    <div>
        <label for="category">類別：</label>
        <select id="category">
            <option value="housing">家居</option>
            <option value="transportation">交通</option>
            <option value="leisure">休閒</option>
            <option value="food">餐飲</option>
            <option value="other">其他</option>
        </select>
    </div>

    <div id="totalAmount">
        <h3>總金額： {{totalAmount}} 元</h3>
    </div>
</div>

<ul class="list-group">
    {{!-- 標題 --}}
    <li class="list-group-item">
        <div class="row">
            <span class="col-1">類別</span>
            <span class="col-4">項目</span>
            <span class="col-2">日期</span>
            <span class="col-2">金額</span>
            <span class="col-3">操作</span>
        </div>
    </li>

    {{!-- 顯示資料 --}}
    {{#each records}}
    <li class="list-group-item">
        <div class="row">
            <!--類別icon-->
            <span class="col-1">{{this.category}}</i></span>
            <!--項目-->
            <span class="col-4 lead">{{this.name}}</span>
            <!--日期-->

            <span class="col-2">{{this.date}}</span>
            <!--金額-->
            <span class="col-2 h4 text-info" id="amount">{{this.amount}}</span>
            <!--操作-->
            <div class="col-3">
                <div class="d-flex justify-content-around">
                    <a class="btn btn-success" href="/records/{{this._id}}/edit">修改</a>
                    <form action="/records/{{this._id}}?_method=DELETE" method="POST">
                        <button class="btn btn-danger" type="submit">刪除</button>
                    </form>
                </div>
            </div>

        </div>
    </li>
    {{/each}}

</ul>

<a href="/records/new" class="btn btn-secondary d-flex justify-content-center mt-3">新增</a>